html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout,
    .nav > li > button {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover,
.nav > li > button:focus,
.nav > li > button:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus,
.nav > li > button:focus {
    outline: none;
}

.nav > li > button {
    padding: 15px;
    border: none;
    background-color: inherit;
    color: #9d9d9d;
}

.nav > li > button:hover {
    color: #fff;
}


/*--------------------------------------------------------------
## Layer
--------------------------------------------------------------*/
#layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgba(0,0,0,0.8);
}
.layer-body {
    text-align: center;
    padding: 50px;
    border-radius: 5px;
}
.layer-body > * {
    margin-bottom: 20px;
}
.layer-body * {
    color: white;
}

/*--------------------------------------------------------------
## Reviews
--------------------------------------------------------------*/
.review {
    border-top: solid 1px #eaeaea;
    border-bottom: solid 1px #eaeaea;
    margin-bottom: 20px;
}
.title-review {
    font-size: 1.4em;
    padding: 10px 0 10px 10px;
}
.body-img {
    text-align: center;
    max-height: 200px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}
#filesList img {
    margin: 10px 0;
}
.footer-review {
    padding-top: 10px;
    font-size: 0.8em;
    color: #acacac;
}
.footer-review .footer-info {
    display: flex;
    justify-content: space-between;
}
.footer-review .footer-cities {
    text-align: center;
}
.user-info {
    border: none;
    background-color: white;
}
.time-review {
    font-size: 0.5em;
    color: #acacac;
    padding: 0;
    float:right;
}
.action-review {
    display: none;
    margin-left: 20px;
    font-size: 0.6em;
    vertical-align: top;
}
.action-review a {
    padding-right: 5px;
}
.title-review:hover .action-review {
    display: inline-block;
}
.img-btn {
    border: none;
    background-color: white;
    color: #337ab7;
}
.img-btn:hover {
    color: #32508c;
}
.img-btn:focus,
.user-info:focus {
    outline: none;
}